/* Mobile First - Content First */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans');
    /* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Open Sans', 'calibri', 'segoe ui', sans-serif;
    }

    /*Background*/
    body  {
        background-image: url(/images/git_background.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    
    /* Margenes */
    body,
    h1,
    header p,
    .menu{
        margin: 0;
    }
    /* Bordes */
    iframe{
        border: none;
    }
    /* Rellenos */
    .menu{
        padding: 0;
    }
    /* Estilos */
    nav a{
        text-decoration: none;
    }
    .menu{
        list-style: none;
    }
/* Navegacion */
    nav{
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: .5rem;
        background: linear-gradient(to right, #36c, #248);
    }
    nav a{
        color: #eee;
    }
    .btn{
        position: relative;
        z-index: 1;
        border: 1px solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color: #248;
        background-color: #eee;
    }
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: grid;
        align-content: space-evenly;
        text-align: center;
        background: linear-gradient(#36c, #248);
        opacity: .8;
        transition: all .5s ease-out;
    }
    .menu.active{
        left: 0;
    }
    .menu a.active,
    .menu a:hover{
        text-shadow: 0 0 .5rem #eee;
        font-weight: bold;
    }
/* Cabecera */
    #header{
        min-height: min(640px, 100vh);
        display: grid;
        align-content: center;
        text-align: center;
        color:#eee;
        background-color: #333;
        text-shadow: 0 0 min(calc(1.5vw + .8rem), 2.5rem);
        font-size: min(calc(2vw + .8rem), 3rem);
    }
/* Tabla de Contenidos */

/* Contenido */

/* Pie de Pagina */
#footer{
    position: relative;
    background: linear-gradient(#666a, #3338);
}
    /* Mapa de Contacto */
    .map{
        margin-top: 25px;
        margin-bottom: 100px;
    }
    .map iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .map .btn{
        position: absolute;
        top: .5rem;
        right: .5rem;
        font-size: 2.5rem;
        min-width: 3.5rem;
    }
    .map iframe.active,
    .map .icon-min{
        position: fixed;
        z-index: 2;
        opacity: .9;
        background-color: #3338;
    }

    .icon-min::before{
        content: '-'
    }
    .icon-max::before{
        content: '+'
    }
    /* Tabla Colaboradores */
    .colabs{
        margin: 1rem auto;
        border-collapse: collapse;
        color: #eee;
        background: linear-gradient(#36c, #448);
        text-shadow: 0 0 .5rem #333;
        box-shadow: -.5rem .5rem .5rem #3335; /*-x+ -y+ blur color*/
    }
    .colabs :is(
        caption, 
        th,
        td
    ){
        padding: .5rem 1rem;
    }
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #36c;
        font-weight: bold;
    }
    .colabs tbody tr:nth-child(odd){
        background-color: #eee3;
    }
    .colabs tbody tr:nth-child(even){
        background-color: #ccc3;
    }
    /* Repositorios */
    .repo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: .5rem;
    }
    .repo a{
        position: relative;
        margin: .25rem;
        border-radius: .25rem;
        padding: .5rem;
        color: #eee;
        background-color: #333;
        transition: all .5s ease-out;
    }
    .repo a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 .5rem .25rem #333;
    }
    /* Formulario de Contacto */
    .contact{
        max-width: 540px;
        display: grid;
        align-content: center;
        margin: auto;
        padding: 1rem;
        color: #eee;
        text-shadow: 0 0 .5rem #333;
    }
    .contact :is(
        input,
        textarea,
        select
    ){
        border-radius: .25rem;
        border: 2px solid #eee;
        resize: vertical;
        background-color: #eee8;
    }
    .contact [type="submit"]{
        margin-top: .5rem;
        padding: .25rem 1rem;
        background-color: #3338;
        text-transform: uppercase;
        color: #eee;
    }
    .contact [type="submit"]:hover{
        background-color: #333;
    }
    /* Redes Sociales */
footer >ul ,a{
    color: #36c;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    /* Derechos de Autor */
    .copy{
        cursor: pointer;
        padding: 1rem;
        color:#eee;
        background-color: #248;
        text-align: center;
        opacity: .5;
        transition: all .5s ease-in;
    }
    .copy:hover{
        opacity: 1;
    }
/* Medium Devices - Tablets */
@media screen and (min-width: 768px){
    nav .btn{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        gap: .5rem;
        width: auto;
        background-image: none;
    }
}
/* Extra large Devices - HD Desktop */
@media screen and (min-width: 1200px){
    nav{
        padding: .5rem calc(50vw - 570px);
    }
}
